body {
	font-size: 16px;
	font-weight: bolder;
	margin: 0;
	padding: 0;
}

.ui-page {
}


.center {
	text-align: center;
	vertical-align: middle;
}

#topmenu {
    width: 100%;
    height: 44%;
    position: fixed;
    top: 30px;
}

#bottommenu {
    width: 100%;
    height: 44%;
    position: fixed;
    bottom: 20px;
}

.menu-item {
	font-size: 1.2em;
	font-weight: bolder;
    height: 100%;
}

.menu-item > a > button, .menu-item > button {
    font-size: 1.2em;
    font-weight: bolder;
    height: 90%;
    color: white !important;
    text-shadow: 1px 2px 5px #212121 !important;
    background: #cc7a7a !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc7a7a 0%, #cc0000 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc7a7a), color-stop(100%,#cc0000)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc7a7a 0%,#cc0000 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc7a7a 0%,#cc0000 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc7a7a 0%,#cc0000 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #cc7a7a 0%,#cc0000 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc7a7a', endColorstr='#cc0000',GradientType=0 ) !important; /* IE6-9 */
}

.menu-item > a > button:hover, .menu-item > button:hover {
    background: #cc9999 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc9999 0%, #cc4141 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc9999), color-stop(100%,#cc4141)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc9999 0%,#cc4141 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc9999 0%,#cc4141 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc9999 0%,#cc4141 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #cc9999 0%,#cc4141 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc9999', endColorstr='#cc4141',GradientType=0 ) !important; /* IE6-9 */
}

ul > li > div {
	line-height: 30px !important;
	height: 30px !important;
}

#footer, .footer {
	width: 100%;
	position: fixed;
	bottom: -50px;
	text-align: right;
}

@media (min-width:768px) {
	.navbar-toggle {
	    display: block;
	}
}

#nav {
    bottom: 0px !important;
    position: fixed !important;
    right: 0px;
    color: #000;
}

#nav button {
	width: 43px;
	height: 35px;
}

.navbar-toggle .icon-bar {
	background-color: #333333;
}

#footer button {
	width: 160px;
}

.ok {
	background-color: #ffffff;
	color: #04B404;
	padding: 3px;
	border: 1px solid #ffffff;
}

.error {
	background-color: #ff0000;
	color: #ffffff;
	font-weight: bolder;
	padding: 3px;
	border: 1px solid #ffffff;
}

.warn {
	background-color: #ffffff;
	color: #B45F04;
	font-weight: bolder;
	padding: 3px;
	border: 1px solid #ffffff;
}

.netstat {
  width:100%;
  border:0;
}

.sameday {
  margin: 3px;
  width: 100%;
  float: left;
}

.entry {
  float: left;
  width: 100%;
  padding: 3px;
}

.date {
  width: 30%;
  float: left;
  padding: 3px;
}

.events {
  width: 70%;
  float: left;
}

.event {
  padding: 3px;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}

.oneliner {
    height: 37px;
}

.twoliner {
    height: 66px;
}

.list-group-item {
    padding: 5px 5px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 7px;
    text-align: center;
}

#copyright {
    position: fixed;
    bottom: 0px;
    font-size: 0.8em;
    color: #999;
    text-align: right;
    width: 100%;
    padding-right: 100px;
}

































